body{
    max-width: 100%;
}

nav{
    background-color: #000000;
    color: #ffffff;
    position: fixed;
	/* we can specify all the padding sides in one shorthand 
    which goes in the same order as a clockface (top, right, bottom, left)*/
}
