nav{
  background-color: #000000;
  position: fixed;
	/* we can specify all the padding sides in one shorthand 
  which goes in the same order as a clockface (top, right, bottom, left)*/
}

header {
/*  using fixed position allows us to precisely position an element
  in relation to the browser viewport*/
  position:  fixed;
  top: 50px;
  left: 20px;
}


/* the body contains everything on the page */
body{
  font-family: Cooper Hewitt;
  font-size:  16px;
  color: #ffffff;
}

a{
/*  we need to specify a color for our links
  otherwise they will use the default blue*/
  color: #ffffff;
/*  this removes the default underline  */
  text-decoration:  none;
}

section{
/*  vh:: viewport height meaning it will be relative to the height
  of the browser window*/
  height: 100vh;
  background-image: url(image_1.jpg);
/*  our background image will cover the full width and height
  of our section without skewing or repeating the image*/
  background-size: cover;
  
/*  this will fix the background to the browser viewport 
  rather than to the section, creating a reveal effect as we scroll*/
  background-attachment: fixed;
}

footer {
  position:  fixed;
  bottom:  20px;
  left:  20px;
}

/* the only thing that gets selected are a tags in footer tags, adds space between links in footer */
footer a {
  margin-right: 10px;;
}

/* we can apply styles to elements based on whether we are hovering over them. this is called a pseudo selector */
a:hover {
  color: #dddddd;
}

/* this will apply styles to any element in our html which has a "class" attribute of "image_2" */
.image_2 {
 	background-image: url(image_2.jpg); 
}

.image_3 {
 	background-image: url(image_3.jpg); 
}

.image_4 {
 	background-image: url(image_4.jpg); 
}
